* {
    box-sizing: border-box;
}
   
body {
    background-color: rgb(85, 149, 201);
    color: rgb(241, 238, 233); 
    font-family: 'Work Sans', sans-serif;
    text-align: center; 
    margin: 15px; 
}